
<div class="row">
    <div class="col-xs-12">
		
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title"><?php  echo __('Account'); ?></h3>
				<div class="box-tools pull-right">
	                <?php echo $this->Html->link(__('<i class="glyphicon glyphicon-pencil"></i> Edit'), array('action' => 'edit', $account['Account']['id']), array('class' => 'btn btn-primary', 'escape' => false)); ?>
	            </div>
			</div>
			
			<div class="box-body table-responsive">
                <table id="Accounts" class="table table-bordered table-striped">
					<tbody>
						<tr>		<td><strong><?php echo __('Id'); ?></strong></td>
		<td>
			<?php echo h($account['Account']['id']); ?>
			&nbsp;
		</td>
</tr><tr>		<td><strong><?php echo __('Title'); ?></strong></td>
		<td>
			<?php echo h($account['Account']['title']); ?>
			&nbsp;
		</td>
</tr><tr>		<td><strong><?php echo __('Initial Value'); ?></strong></td>
		<td>
			<?php echo h($account['Account']['initial_value']); ?>
			&nbsp;
		</td>
</tr><tr>		<td><strong><?php echo __('Saldo'); ?></strong></td>
		<td>
			<?php echo h($account['Account']['saldo']); ?>
			&nbsp;
		</td>
</tr><tr>		<td><strong><?php echo __('Dif Transacao'); ?></strong></td>
		<td>
			<?php echo h($account['Account']['dif_transacao']); ?>
			&nbsp;
		</td>
</tr><tr>		<td><strong><?php echo __('Created'); ?></strong></td>
		<td>
			<?php echo h($account['Account']['created']); ?>
			&nbsp;
		</td>
</tr><tr>		<td><strong><?php echo __('Modified'); ?></strong></td>
		<td>
			<?php echo h($account['Account']['modified']); ?>
			&nbsp;
		</td>
</tr><tr>		<td><strong><?php echo __('Client Id'); ?></strong></td>
		<td>
			<?php //echo h($account['Account']['client_id']); ?>
			<?php echo $this->Html->link($account['Client']['firstname'].' '.$account['Client']['lastname'], array('controller' => 'clients', 'action' => 'view', $account['Client']['id']), array('class' => '')); ?>
			&nbsp;
		</td>
</tr>					</tbody>
				</table><!-- /.table table-striped table-bordered -->
			</div><!-- /.table-responsive -->
			
		</div><!-- /.view -->

					
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title"><?php echo __('Related Investments'); ?></h3>
					<div class="box-tools pull-right">
						<?php echo $this->Html->link('<i class="glyphicon glyphicon-plus"></i> '.__('New Investment'), array('controller' => 'investments', 'action' => 'add'), array('class' => 'btn btn-primary', 'escape' => false)); ?>					</div><!-- /.actions -->
				</div>
				<?php if (!empty($account['Investment'])): ?>
					
					<div class="box-body table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
											<th class="text-center"><?php echo __('Id'); ?></th>
		<th class="text-center"><?php echo __('Name'); ?></th>
		<th class="text-center"><?php echo __('Account Id'); ?></th>
		<th class="text-center"><?php echo __('Duration'); ?></th>
		<th class="text-center"><?php echo __('Juros'); ?></th>
		<th class="text-center"><?php echo __('Created'); ?></th>
		<th class="text-center"><?php echo __('Modified'); ?></th>
									<th class="text-center"><?php echo __('Actions'); ?></th>
								</tr>
							</thead>
							<tbody>
									<?php
										$i = 0;
										foreach ($account['Investment'] as $investment): ?>
		<tr>
			<td class="text-center"><?php echo $investment['id']; ?></td>
			<td class="text-center"><?php echo $investment['name']; ?></td>
			<td class="text-center"><?php echo $investment['account_id']; ?></td>
			<td class="text-center"><?php echo $investment['duration']; ?></td>
			<td class="text-center"><?php echo $investment['juros']; ?></td>
			<td class="text-center"><?php echo $investment['created']; ?></td>
			<td class="text-center"><?php echo $investment['modified']; ?></td>
			<td class="text-center">
				<?php echo $this->Html->link(__('<i class="glyphicon glyphicon-eye-open"></i>'), array('controller' => 'investments', 'action' => 'view', $investment['id']), array('class' => 'btn btn-primary btn-xs', 'escape' => false)); ?>
				<?php echo $this->Html->link(__('<i class="glyphicon glyphicon-pencil"></i>'), array('controller' => 'investments', 'action' => 'edit', $investment['id']), array('class' => 'btn btn-warning btn-xs', 'escape' => false)); ?>
				<?php echo $this->Form->postLink(__('<i class="glyphicon glyphicon-trash"></i>'), array('controller' => 'investments', 'action' => 'delete', $investment['id']), array('class' => 'btn btn-danger btn-xs', 'escape' => false), __('Are you sure you want to delete # %s?', $investment['id'])); ?>
			</td>
		</tr>
	<?php endforeach; ?>
							</tbody>
						</table><!-- /.table table-striped table-bordered -->
					</div><!-- /.table-responsive -->
					
				<?php endif; ?>

				
				
			</div><!-- /.related -->

					
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title"><?php echo __('Related Patrimonios'); ?></h3>
					<div class="box-tools pull-right">
						<?php echo $this->Html->link('<i class="glyphicon glyphicon-plus"></i> '.__('New Patrimonio'), array('controller' => 'patrimonios', 'action' => 'add'), array('class' => 'btn btn-primary', 'escape' => false)); ?>					</div><!-- /.actions -->
				</div>
				<?php if (!empty($account['Patrimonio'])): ?>
					
					<div class="box-body table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
											<th class="text-center"><?php echo __('Id'); ?></th>
		<th class="text-center"><?php echo __('Name'); ?></th>
		<th class="text-center"><?php echo __('Time Evaluation'); ?></th>
		<th class="text-center"><?php echo __('Valor '); ?></th>
		<th class="text-center"><?php echo __('Taxa Percentagem'); ?></th>
		<th class="text-center"><?php echo __('Obs'); ?></th>
		<th class="text-center"><?php echo __('Account Id'); ?></th>
		<th class="text-center"><?php echo __('Created'); ?></th>
		<th class="text-center"><?php echo __('Modified'); ?></th>
		<th class="text-center"><?php echo __('Evaluation Id'); ?></th>
									<th class="text-center"><?php echo __('Actions'); ?></th>
								</tr>
							</thead>
							<tbody>
									<?php
										$i = 0;
										foreach ($account['Patrimonio'] as $patrimonio): ?>
		<tr>
			<td class="text-center"><?php echo $patrimonio['id']; ?></td>
			<td class="text-center"><?php echo $patrimonio['name']; ?></td>
			<td class="text-center"><?php echo $patrimonio['time_evaluation']; ?></td>
			<td class="text-center"><?php echo $patrimonio['valor_']; ?></td>
			<td class="text-center"><?php echo $patrimonio['taxa_percentagem']; ?></td>
			<td class="text-center"><?php echo $patrimonio['obs']; ?></td>
			<td class="text-center"><?php echo $patrimonio['account_id']; ?></td>
			<td class="text-center"><?php echo $patrimonio['created']; ?></td>
			<td class="text-center"><?php echo $patrimonio['modified']; ?></td>
			<td class="text-center"><?php echo $patrimonio['evaluation_id']; ?></td>
			<td class="text-center">
				<?php echo $this->Html->link(__('<i class="glyphicon glyphicon-eye-open"></i>'), array('controller' => 'patrimonios', 'action' => 'view', $patrimonio['id']), array('class' => 'btn btn-primary btn-xs', 'escape' => false)); ?>
				<?php echo $this->Html->link(__('<i class="glyphicon glyphicon-pencil"></i>'), array('controller' => 'patrimonios', 'action' => 'edit', $patrimonio['id']), array('class' => 'btn btn-warning btn-xs', 'escape' => false)); ?>
				<?php echo $this->Form->postLink(__('<i class="glyphicon glyphicon-trash"></i>'), array('controller' => 'patrimonios', 'action' => 'delete', $patrimonio['id']), array('class' => 'btn btn-danger btn-xs', 'escape' => false), __('Are you sure you want to delete # %s?', $patrimonio['id'])); ?>
			</td>
		</tr>
	<?php endforeach; ?>
							</tbody>
						</table><!-- /.table table-striped table-bordered -->
					</div><!-- /.table-responsive -->
					
				<?php endif; ?>

				
				
			</div><!-- /.related -->

					
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title"><?php echo __('Related Transactions'); ?></h3>
					<div class="box-tools pull-right">
						<?php echo $this->Html->link('<i class="glyphicon glyphicon-plus"></i> '.__('New Transaction'), array('controller' => 'transactions', 'action' => 'add'), array('class' => 'btn btn-primary', 'escape' => false)); ?>					</div><!-- /.actions -->
				</div>
				<?php if (!empty($account['Transaction'])): ?>
					
					<div class="box-body table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
											<th class="text-center"><?php echo __('Id'); ?></th>
		<th class="text-center"><?php echo __('User Id'); ?></th>
		<th class="text-center"><?php echo __('Transactions Type Id'); ?></th>
		<th class="text-center"><?php echo __('Account Id'); ?></th>
		<th class="text-center"><?php echo __('Valor'); ?></th>
		<th class="text-center"><?php echo __('Obs'); ?></th>
		<th class="text-center"><?php echo __('Categories Type Id'); ?></th>
		<th class="text-center"><?php echo __('Origins Destination Id'); ?></th>
		<th class="text-center"><?php echo __('Created'); ?></th>
		<th class="text-center"><?php echo __('Modified'); ?></th>
									<th class="text-center"><?php echo __('Actions'); ?></th>
								</tr>
							</thead>
							<tbody>
									<?php
										$i = 0;
										foreach ($account['Transaction'] as $transaction): ?>
		<tr>
			<td class="text-center"><?php echo $transaction['id']; ?></td>
			<td class="text-center"><?php echo $transaction['user_id']; ?></td>
			<td class="text-center"><?php echo $transaction['transactions_type_id']; ?></td>
			<td class="text-center"><?php echo $transaction['account_id']; ?></td>
			<td class="text-center"><?php echo $transaction['valor']; ?></td>
			<td class="text-center"><?php echo $transaction['obs']; ?></td>
			<td class="text-center"><?php echo $transaction['categories_type_id']; ?></td>
			<td class="text-center"><?php echo $transaction['origins_destination_id']; ?></td>
			<td class="text-center"><?php echo $transaction['created']; ?></td>
			<td class="text-center"><?php echo $transaction['modified']; ?></td>
			<td class="text-center">
				<?php echo $this->Html->link(__('<i class="glyphicon glyphicon-eye-open"></i>'), array('controller' => 'transactions', 'action' => 'view', $transaction['id']), array('class' => 'btn btn-primary btn-xs', 'escape' => false)); ?>
				<?php echo $this->Html->link(__('<i class="glyphicon glyphicon-pencil"></i>'), array('controller' => 'transactions', 'action' => 'edit', $transaction['id']), array('class' => 'btn btn-warning btn-xs', 'escape' => false)); ?>
				<?php echo $this->Form->postLink(__('<i class="glyphicon glyphicon-trash"></i>'), array('controller' => 'transactions', 'action' => 'delete', $transaction['id']), array('class' => 'btn btn-danger btn-xs', 'escape' => false), __('Are you sure you want to delete # %s?', $transaction['id'])); ?>
			</td>
		</tr>
	<?php endforeach; ?>
							</tbody>
						</table><!-- /.table table-striped table-bordered -->
					</div><!-- /.table-responsive -->
					
				<?php endif; ?>

				
				
			</div><!-- /.related -->

			
	</div><!-- /#page-content .span9 -->

</div><!-- /#page-container .row-fluid -->
