
<div class="row">
    <div class="col-xs-12">
		
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title"><?php  echo __('Client'); ?></h3>
				<div class="box-tools pull-right">
	                <?php echo $this->Html->link(__('<i class="glyphicon glyphicon-pencil"></i> Edit'), array('action' => 'edit', $client['Client']['id']), array('class' => 'btn btn-primary', 'escape' => false)); ?>
	            </div>
			</div>
			
			<div class="box-body table-responsive">
                <table id="Clients" class="table table-bordered table-striped">
					<tbody>
						<tr>		<td><strong><?php echo __('Id'); ?></strong></td>
		<td>
			<?php echo h($client['Client']['id']); ?>
			&nbsp;
		</td>
</tr><tr>		<td><strong><?php echo __('Firstname'); ?></strong></td>
		<td>
			<?php echo h($client['Client']['firstname']); ?>
			&nbsp;
		</td>
</tr><tr>		<td><strong><?php echo __('Lastname'); ?></strong></td>
		<td>
			<?php echo h($client['Client']['lastname']); ?>
			&nbsp;
		</td>
</tr><tr>		<td><strong><?php echo __('Morada'); ?></strong></td>
		<td>
			<?php echo h($client['Client']['morada']); ?>
			&nbsp;
		</td>
</tr><tr>		<td><strong><?php echo __('Phone'); ?></strong></td>
		<td>
			<?php echo $this->Html->link($client['Phone']['fixo'].' / '.$client['Phone']['fixo'], array('controller' => 'phones', 'action' => 'view', $client['Phone']['id']), array('class' => '')); ?>
			&nbsp;
		</td>
</tr>					</tbody>
				</table><!-- /.table table-striped table-bordered -->
			</div><!-- /.table-responsive -->
			
		</div><!-- /.view -->

					
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title"><?php echo __('Related Accounts'); ?></h3>
					<div class="box-tools pull-right">
						<?php echo $this->Html->link('<i class="glyphicon glyphicon-plus"></i> '.__('New Account'), array('controller' => 'accounts', 'action' => 'add'), array('class' => 'btn btn-primary', 'escape' => false)); ?>					</div><!-- /.actions -->
				</div>
				<?php if (!empty($client['Account'])): ?>
					
					<div class="box-body table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
											<th class="text-center"><?php echo __('Id'); ?></th>
		<th class="text-center"><?php echo __('Title'); ?></th>
		<th class="text-center"><?php echo __('Initial Value'); ?></th>
		<th class="text-center"><?php echo __('Saldo'); ?></th>
		<th class="text-center"><?php echo __('Dif Transacao'); ?></th>
		<th class="text-center"><?php echo __('User Id'); ?></th>
		<th class="text-center"><?php echo __('Created'); ?></th>
		<th class="text-center"><?php echo __('Modified'); ?></th>
		<th class="text-center"><?php echo __('Client Id'); ?></th>
									<th class="text-center"><?php echo __('Actions'); ?></th>
								</tr>
							</thead>
							<tbody>
									<?php
										$i = 0;
										foreach ($client['Account'] as $account): ?>
		<tr>
			<td class="text-center"><?php echo $account['id']; ?></td>
			<td class="text-center"><?php echo $account['title']; ?></td>
			<td class="text-center"><?php echo $account['initial_value']; ?></td>
			<td class="text-center"><?php echo $account['saldo']; ?></td>
			<td class="text-center"><?php echo $account['dif_transacao']; ?></td>
			<td class="text-center"><?php echo $account['user_id']; ?></td>
			<td class="text-center"><?php echo $account['created']; ?></td>
			<td class="text-center"><?php echo $account['modified']; ?></td>
			<td class="text-center"><?php echo $account['client_id']; ?></td>
			<td class="text-center">
				<?php echo $this->Html->link(__('<i class="glyphicon glyphicon-eye-open"></i>'), array('controller' => 'accounts', 'action' => 'view', $account['id']), array('class' => 'btn btn-primary btn-xs', 'escape' => false)); ?>
				<?php echo $this->Html->link(__('<i class="glyphicon glyphicon-pencil"></i>'), array('controller' => 'accounts', 'action' => 'edit', $account['id']), array('class' => 'btn btn-warning btn-xs', 'escape' => false)); ?>
				<?php echo $this->Form->postLink(__('<i class="glyphicon glyphicon-trash"></i>'), array('controller' => 'accounts', 'action' => 'delete', $account['id']), array('class' => 'btn btn-danger btn-xs', 'escape' => false), __('Are you sure you want to delete # %s?', $account['id'])); ?>
			</td>
		</tr>
	<?php endforeach; ?>
							</tbody>
						</table><!-- /.table table-striped table-bordered -->
					</div><!-- /.table-responsive -->
					
				<?php endif; ?>

				
				
			</div><!-- /.related -->

			
	</div><!-- /#page-content .span9 -->

</div><!-- /#page-container .row-fluid -->
