<?php echo $this->Html->css('datatables/dataTables.bootstrap'); ?>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"><?php echo __('Users'); ?></h3>
                <div class="box-tools pull-right">
                    <?php echo $this->Html->link(__('<i class="glyphicon glyphicon-plus"></i> New User'), array('action' => 'add'), array('class' => 'btn btn-primary', 'escape' => false)); ?>
                </div>
            </div>
            <div class="box-body table-responsive">
                <table id="Users" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center"><?php echo $this->Paginator->sort('id'); ?></th>
                            <th class="text-center"><?php echo $this->Paginator->sort('role_id'); ?></th>
                            <th class="text-center"><?php echo $this->Paginator->sort('username'); ?></th>
                            <th class="text-center"><?php echo $this->Paginator->sort('password'); ?></th>
                            <th class="text-center"><?php echo $this->Paginator->sort('status'); ?></th>
                            <th class="text-center"><?php echo $this->Paginator->sort('created'); ?></th>
                            <th class="text-center"><?php echo $this->Paginator->sort('modified'); ?></th>
                            <th class="text-center"><?php echo __('Actions'); ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($users as $user): ?>
                        <tr>
                            <td class="text-center"><?php echo h($user['User']['id']); ?>&nbsp;</td>
                            <td class="text-center">
                                <?php echo $this->Html->link($user['Role']['name'], array('controller' => 'roles', 'action' => 'view', $user['Role']['id'])); ?>
                            </td>
                            <td class="text-center"><?php echo h($user['User']['username']); ?>&nbsp;</td>
                            <td class="text-center"><?php echo h($user['User']['password']); ?>&nbsp;</td>
                            <td class="text-center"><?php echo h($user['User']['status']); ?>&nbsp;</td>
                            <td class="text-center"><?php echo h($this->Time->nice($user['User']['created'])); ?>&nbsp;</td>
                            <td class="text-center"><?php echo h($this->Time->nice($user['User']['modified'])); ?>&nbsp;</td>
                            <td class="text-center">
                                <?php echo $this->Html->link(__('<i class="glyphicon glyphicon-eye-open"></i>'), array('action' => 'view', $user['User']['id']), array('class' => 'btn btn-primary btn-xs', 'escape' => false)); ?>
                                <?php echo $this->Html->link(__('<i class="glyphicon glyphicon-pencil"></i>'), array('action' => 'edit', $user['User']['id']), array('class' => 'btn btn-warning btn-xs', 'escape' => false)); ?>
                                <?php echo $this->Form->postLink(__('<i class="glyphicon glyphicon-trash"></i>'), array('action' => 'delete', $user['User']['id']), array('class' => 'btn btn-danger btn-xs', 'escape' => false), __('Are you sure you want to delete # %s?', $user['User']['id'])); ?>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
                </div><!-- /.table-responsive -->


                </div><!-- /.index -->

                </div><!-- /#page-content .col-sm-9 -->
                </div><!-- /#page-container .row-fluid -->
                <?php
                echo $this->Html->script('jquery.min');
                echo $this->Html->script('plugins/datatables/jquery.dataTables');
                echo $this->Html->script('plugins/datatables/dataTables.bootstrap');
                ?>
                <script type="text/javascript">
                    $(function() {
                        $("#Users").dataTable();
                    });
                </script>